<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Book</title>
</head>
<h3>Genre modification</h3>
  <body>
  <div th:object="${genre}">
    <form id="genre-update" th:action="@{/genres/edit}" th:method="post">
      <div style="margin: 3px">
        <label for="id-input" style="display: inline-block; width: 200px">ID</label>
        <input id="id-input" readonly th:value="*{getId()}" type="text" value="12esad1" style="width: 200px" name="id">
      </div>
      <div style="margin: 3px">
        <label for="name-input" style="display: inline-block; width: 200px">Genre name</label>
        <input id="name-input" th:value="*{getName()}" type="text" value="Тефтелька" style="width: 200px" name="name" required>
      </div>
      <input type="submit" value="Update">
    </form>
  </div>
  <div style="margin-top: 20px">
    <a th:href="@{/}" href="index.html">Go to root page</a>
  </div>
  </body>
</html>