<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Library</title>
</head>
<body>
<h3>Library API</h3>
<div style="margin: 3px">
  <a href="authors.html" th:href="@{/authors}">
    <button style="width:200px" type="button">Authors</button>
  </a>
</div>
<div style="margin: 3px">
  <a href="genres.html" th:href="@{/genres}">
    <button style="width:200px" type="button">Genres</button>
  </a>
</div>
<div style="margin: 3px">
  <a href="books.html" th:href="@{/books}">
    <button style="width:200px" type="button">Books</button>
  </a>
</div>
</body>
</html>