<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<h3 id="header"></h3>
<div id="dataContainer"></div>
</body>
<script>
  function renderRootApi() {
    cleanContainer()
    changeTitle("Library")
    changeHeader("Library API")

    const menu = document.createElement("div")
    menu.innerHTML = `
      <div  style="margin: 3px">
        <button style="width:200px" type="button" onclick="authorsPage()">Authors</button>
      </div>
      <div style="margin: 3px">
        <button style="width:200px" type="button" onclick="genresPage()">Genres</button>
      </div>
      <div style="margin: 3px">
        <button style="width:200px" type="button" onclick="booksPage()">Books</button>
      </div>
      `

    document.getElementById("dataContainer")
    .appendChild(menu)
  }
  window.onload = renderRootApi
</script>
<script>
  function cleanContainer() {
    document.getElementById("dataContainer").innerHTML = ""
  }

  function changeTitle(newTitle) {
    document.title = newTitle
  }

  function changeHeader(newHeader) {
    document.getElementById("header")
    .innerHTML = newHeader
  }

  function appendChildToContainer(child) {
    document.getElementById("dataContainer")
    .appendChild(child)
  }

  function insertCellIntoRow(row, cellData, nodeId) {
    const cell = document.createElement("td")
    cell.setAttribute("id", nodeId)
    cell.innerHTML = cellData
    row.appendChild(cell)
  }

  function createButton(onclickFuncCall, text) {
    return `<button type=\"button\" onClick=\"${onclickFuncCall}\">${text}</button>`
  }

  function renderError(errText) {
    changeTitle("Library error page")
    changeHeader("Error executing operation")
    const errorNode = document.createElement("div")
    errorNode.innerHTML = errText
    appendChildToContainer(errorNode)
    appendChildToContainer(rootLink)
  }

  function appendErrorMsg(target, message) {
      const invalidInputMsg = document.createElement("span")
      invalidInputMsg.style.color = 'red'
      invalidInputMsg.innerHTML = message
      target.appendChild(invalidInputMsg)
  }

  function createDropdownList(entityName, arrayToDisplay) {
    const selectNode = document.createElement("select")
    selectNode.id = `${entityName}-dropdown`

    arrayToDisplay.forEach(
        function (item) {
          const optionNode = document.createElement("option")
          optionNode.value = item
          optionNode.innerText = item
          selectNode.appendChild(optionNode)
        }
    )
    return selectNode
  }

  const rootLink = document.createElement("div")
  rootLink.innerHTML = createButton(`renderRootApi()`, "root page")

</script>
<script>
  function authorsPage() {
    cleanContainer()
    changeTitle("Authors")
    changeHeader("Authors list")

    const authorsTable = document.createElement("div")
    authorsTable.innerHTML =
        `
          <div style="margin: 3px">
            <table border="1">
              <thead>
              <tr style="text-align:left">
                <th>ID</th>
                <th>Name</th>
                <th>Edit button</th>
                <th>Action button</th>
              </tr>
              </thead>
              <tbody id="authorsTableBody">
              </tbody>
            </table>
          </div>
        `
    appendChildToContainer(authorsTable)
    appendChildToContainer(rootLink)

    fetch('http://localhost:8080/api/v1/authors')
    .then(resp => resp.json())
    .then(authors => fillAuthorsTable(authors))

    renderCreateAuthorRow()
  }

  function fillAuthorsTable(authors) {
    authors.forEach(
        function (author) {
          const row = document.createElement("tr")
          row.setAttribute("id", `author-${author.id}`)

          insertCellIntoRow(row, author.id, `author-${author.id}-id`)
          insertCellIntoRow(row, author.name, `author-${author.id}-name`)
          insertCellIntoRow(row, createButton(`editAuthor('${author.id}')`, "edit"), `author-${author.id}-edit`)
          insertCellIntoRow(row, createButton(`removeAuthor('${author.id}')`, "remove"), `author-${author.id}-remove`)

          document.getElementById("authorsTableBody")
          .appendChild(row)
        }
    )
  }

  function renderCreateAuthorRow() {
    const row = document.createElement("tr")
    row.setAttribute("id", `author-new`)

    insertCellIntoRow(row, '&lt;generated&gt;', "author-new-id")
    insertCellIntoRow(row, '<input id="author-new-name-value" type="text" value="">', "author-new-name")
    insertCellIntoRow(row, '', "")
    insertCellIntoRow(row, createButton(`createAuthor()`, 'create'), "author-new-create")

    document.getElementById("authorsTableBody")
    .appendChild(row)
  }

  async function createAuthor() {
    const nameCell = document.getElementById("author-new-name")
    const newName = document.getElementById("author-new-name-value").value
    if (!newName) {
      if (nameCell.children.length < 2) {
        appendErrorMsg(nameCell, 'Name must not be empty!')
      }
      return
    }
    const res = await fetch(
        `http://localhost:8080/api/v1/authors`,
        {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({name: newName})})

    if (res.status !== 200) {
      cleanContainer()
      renderError(await res.text())
    } else {
      authorsPage()
    }
  }

  async function removeAuthor(id) {
    const res = await fetch(`http://localhost:8080/api/v1/authors/${id}`, {method: 'DELETE'})
    if (res.status !== 200) {
      cleanContainer()
      renderError(await res.text())
    } else {
      document.getElementById(`author-${id}`).remove()
    }
  }

  async function saveEditedAuthor(id) {
    const nameCell = document.getElementById(`author-${id}-name`)
    const inputName = nameCell.children[0].value
    if (!inputName) {
      if (nameCell.children.length < 2) {
        appendErrorMsg(nameCell, 'Name must not be empty!')
      }
      return
    }
    const res = await fetch(
        `http://localhost:8080/api/v1/authors`,
        {
          method: 'PATCH',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({id: id, name: inputName})})

    if (res.status !== 200) {
      cleanContainer()
      renderError(await res.text())
    } else {
      nameCell.innerHTML = inputName
      const saveButton = document.getElementById(`author-${id}-edit`)
      saveButton.innerHTML = createButton(`editAuthor(\'${id}\')`, "edit")
    }
  }

  async function editAuthor(id) {
    const authorNameCell = document.getElementById(`author-${id}-name`)
    let currentName = authorNameCell.textContent
    authorNameCell.innerHTML =
        `
        <input type="text" value="${currentName}">
        `

    const editButton = document.getElementById(`author-${id}-edit`)
    editButton.innerHTML = createButton(`saveEditedAuthor(\'${id}\')`, "save")
  }
</script>
<script>
  function genresPage() {
    cleanContainer()
    changeTitle("Genres")
    changeHeader("Genres list")

    const genresTable = document.createElement("div")
    genresTable.innerHTML =
        `
          <div style="margin: 3px">
            <table border="1">
              <thead>
              <tr style="text-align:left">
                <th>ID</th>
                <th>Name</th>
                <th>Edit button</th>
                <th>Action button</th>
              </tr>
              </thead>
              <tbody id="genresTableBody">
              </tbody>
            </table>
          </div>
        `
    appendChildToContainer(genresTable)
    appendChildToContainer(rootLink)

    fetch('http://localhost:8080/api/v1/genres')
    .then(resp => resp.json())
    .then(genres => fillGenresTable(genres))

    renderCreateGenreRow()
  }

  function fillGenresTable(genres) {
    genres.forEach(
        function (genre) {
          const row = document.createElement("tr")
          row.setAttribute("id", `genre-${genre.id}`)

          insertCellIntoRow(row, genre.id, `genre-${genre.id}-id`)
          insertCellIntoRow(row, genre.name, `genre-${genre.id}-name`)
          insertCellIntoRow(row, createButton(`editGenre('${genre.id}')`, "edit"), `genre-${genre.id}-edit`)
          insertCellIntoRow(row, createButton(`removeGenre('${genre.id}')`, "remove"), `genre-${genre.id}-remove`)

          document.getElementById("genresTableBody")
          .appendChild(row)
        }
    )
  }

  function renderCreateGenreRow() {
    const row = document.createElement("tr")
    row.setAttribute("id", `genre-new`)

    insertCellIntoRow(row, '&lt;generated&gt;', "genre-new-id")
    insertCellIntoRow(row, '<input id="genre-new-name-value" type="text" value="">', "genre-new-name")
    insertCellIntoRow(row, '', "")
    insertCellIntoRow(row, createButton(`createGenre()`, 'create'), "genre-new-create")

    document.getElementById("genresTableBody")
    .appendChild(row)
  }

  async function createGenre() {
    const nameCell = document.getElementById("genre-new-name")
    const newName = document.getElementById("genre-new-name-value").value
    if (!newName) {
      if (nameCell.children.length < 2) {
        appendErrorMsg(nameCell, 'Name must not be empty!')
      }
      return
    }
    const res = await fetch(
        `http://localhost:8080/api/v1/genres`,
        {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({name: newName})})

    if (res.status !== 200) {
      cleanContainer()
      renderError(await res.text())
    } else {
      genresPage()
    }
  }

  async function removeGenre(id) {
    const res = await fetch(`http://localhost:8080/api/v1/genres/${id}`, {method: 'DELETE'})
    if (res.status !== 200) {
      cleanContainer()
      renderError(await res.text())
    } else {
      document.getElementById(`genre-${id}`).remove()
    }
  }

  async function saveEditedGenre(id) {
    const nameCell = document.getElementById(`genre-${id}-name`)
    const inputName = nameCell.children[0].value
    if (!inputName) {
      if (nameCell.children.length < 2) {
        appendErrorMsg(nameCell, 'Name must not be empty!')
      }
      return
    }
    const res = await fetch(
        `http://localhost:8080/api/v1/genres`,
        {
          method: 'PATCH',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({id: id, name: inputName})})

    if (res.status !== 200) {
      cleanContainer()
      renderError(await res.text())
    } else {
      nameCell.innerHTML = inputName
      const saveButton = document.getElementById(`genre-${id}-edit`)
      saveButton.innerHTML = createButton(`editGenre(\'${id}\')`, "edit")
    }
  }

  async function editGenre(id) {
    const genreNameCell = document.getElementById(`genre-${id}-name`)
    let currentName = genreNameCell.textContent
    genreNameCell.innerHTML =
        `
        <input type="text" value="${currentName}">
        `

    const editButton = document.getElementById(`genre-${id}-edit`)
    editButton.innerHTML = createButton(`saveEditedGenre(\'${id}\')`, "save")
  }
</script>
<script>
  function booksPage() {
    cleanContainer()
    changeTitle("Books")
    changeHeader("Book list")

    const booksTable = document.createElement("div")
    booksTable.innerHTML =
        `
          <div style="margin: 3px">
            <table border="1">
              <thead>
              <tr style="text-align:left">
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Edit button</th>
                <th>Action button</th>
              </tr>
              </thead>
              <tbody id="booksTableBody">
              </tbody>
            </table>
          </div>
        `
    appendChildToContainer(booksTable)
    appendChildToContainer(rootLink)

    fetch('http://localhost:8080/api/v1/books')
    .then(resp => resp.json())
    .then(books => fillBooksTable(books))

    renderCreateBookRow()
  }

  function fillBooksTable(books) {
    books.forEach(
        function (book) {
          const row = document.createElement("tr")
          row.setAttribute("id", `book-${book.id}`)

          insertCellIntoRow(row, book.id, `book-${book.id}-id`)
          insertCellIntoRow(row, book.title, `book-${book.id}-title`)
          insertCellIntoRow(row, book.description, `book-${book.id}-description`)
          insertCellIntoRow(row, book.author.name, `book-${book.id}-author`)
          insertCellIntoRow(row, book.genre.name, `book-${book.id}-genre`)
          insertCellIntoRow(row, createButton(`editBook('${book.id}')`, "edit"), `book-${book.id}-edit`)
          insertCellIntoRow(row, createButton(`removeBook('${book.id}')`, "remove"), `book-${book.id}-remove`)

          document.getElementById("booksTableBody")
          .appendChild(row)
        }
    )
  }

  async function loadGenres() {
    const resp = await fetch('http://localhost:8080/api/v1/genres')
    if (resp.status !== 200) {
      cleanContainer()
      renderError(await resp.text())
    } else {
      //TODO
    }
//TODO

  }

  function renderCreateBookRow() {
    const row = document.createElement("tr")
    row.setAttribute("id", `book-new`)

    insertCellIntoRow(row, '&lt;generated&gt;', "book-new-id")
    insertCellIntoRow(row, '<input id="book-new-title-value" type="text" value="">', "book-new-title")
    insertCellIntoRow(row, '<input id="book-new-description-value" type="text" value="">', "book-new-description")
    //TODO
    insertCellIntoRow(row, createDropdownList("author", /*TODO*/), "book-new-author")
    insertCellIntoRow(row, createDropdownList("genre", /*TODO*/), "book-new-genre")
    insertCellIntoRow(row, '', "")
    insertCellIntoRow(row, createButton(`createBook()`, 'create'), "book-new-create")

    document.getElementById("booksTableBody")
    .appendChild(row)
  }





  async function createGenre() {
    const nameCell = document.getElementById("genre-new-name")
    const newName = document.getElementById("genre-new-name-value").value
    if (!newName) {
      if (nameCell.children.length < 2) {
        appendErrorMsg(nameCell, 'Name must not be empty!')
      }
      return
    }
    const res = await fetch(
        `http://localhost:8080/api/v1/books`,
        {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({name: newName})})

    if (res.status !== 200) {
      cleanContainer()
      renderError(await res.text())
    } else {
      booksPage()
    }
  }

  async function removeGenre(id) {
    const res = await fetch(`http://localhost:8080/api/v1/genres/${id}`, {method: 'DELETE'})
    if (res.status !== 200) {
      cleanContainer()
      renderError(await res.text())
    } else {
      document.getElementById(`genre-${id}`).remove()
    }
  }

  async function saveEditedGenre(id) {
    const nameCell = document.getElementById(`genre-${id}-name`)
    const inputName = nameCell.children[0].value
    if (!inputName) {
      if (nameCell.children.length < 2) {
        appendErrorMsg(nameCell, 'Name must not be empty!')
      }
      return
    }
    const res = await fetch(
        `http://localhost:8080/api/v1/genres`,
        {
          method: 'PATCH',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({id: id, name: inputName})})

    if (res.status !== 200) {
      cleanContainer()
      renderError(await res.text())
    } else {
      nameCell.innerHTML = inputName
      const saveButton = document.getElementById(`genre-${id}-edit`)
      saveButton.innerHTML = createButton(`editGenre(\'${id}\')`, "edit")
    }
  }

  async function editGenre(id) {
    const genreNameCell = document.getElementById(`genre-${id}-name`)
    let currentName = genreNameCell.textContent
    genreNameCell.innerHTML =
        `
        <input type="text" value="${currentName}">
        `

    const editButton = document.getElementById(`genre-${id}-edit`)
    editButton.innerHTML = createButton(`saveEditedGenre(\'${id}\')`, "save")
  }
</script>
</html>